<html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
      <h1>Community Events Board</h1>
      <div class="event-list">
        <ul>
          {% for event in events %}
            <li>{{ event.event }} - {{ event.date }}</li>
          {% endfor %}
        </ul>
      </div>
      
      <div>
        <!-- syntax for checking is a session was started -->
        {% if session %}
            <p>Hi {{session['username']}}</p>
            <a href= "/logout">Log Out</a>
        {% endif %}
      </div>
    </body>
</html>
